@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  
  font-family: "Poppins", "Times New Roman", sans-serif;
  font-size: 14px;

  margin-bottom: 5px;
}

body {
  height: 100vh;

  margin: 0;
  padding: 0;

  background: #87a5f8;
}

.header {
  font-size: 18px;
  font-weight: 500;
}

.header {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100hv;
}

.currencies-form {
  max-width: 600px;
  width: 100%;

  background: #fff;

  margin: 0 auto;
  padding: 20px;

  border-radius: 12px;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-group select {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  
}

.date-group input {
  width: 30%;
  padding: 10px;
  margin-right: 10px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Archive rates group styles */
.archive-rates-list {
  list-style-type: none;
  padding: 0;
}

.archive-rates-list li {
  background-color: #f2f2f2;

  padding: 5px;
  
  border-radius: 5px;

  font-size: 12px;
}

.archive-rates-list li:hover {
  background-color: #e0e0e0;
}

button {
  
}

button {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #6e93f7;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #4070f4;
}